@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
    Layout = "default.cshtml";
}

<header>
    <div class="head-inner">
        <h1>About me</h1>
    </div>
</header>

<div>

    <p>I'm originally from Israel, currently living in the US in Redmond, WA, Working for Microsoft in the Windows Azure Websites team.</p>

    <p>Trying to share some useful information.</p>

    <IMG src="/images/family.jpg" alt="" />

</div>
