@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
    Layout = "default.cshtml";
}

<header>
    <div class="head-inner">
        <h1>About me</h1>
    </div>
</header>

<div>

    <h4>I'm originally from Israel, currently living in the US in Redmond, WA</h4>
    <h4>Working at Microsoft on Skype</h4>
    <h4>Trying to share some useful information.</h4>

    <IMG class="img img-rounded" src="/images/family.jpg" alt="" />

</div>
