@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

<h1>Categories</h1>
  
    @foreach(var category in Model.AllCategories){
        <div class="container">
            <span class="glyphicon glyphicon-folder-close"></span>
            <a href="/category/@category.Url" title="@category.Name">@category.Name</a>
        </div>
    }
