{
  "blogTitle" : "Blog.AmitApple",
  "siteUrl": "http://blog.amitapple.com",
  "author": "Amit Apple",
  "email": "amitapl@outlook.com",
  "pageSize": 3,
  "posts": "_posts",
  "layouts": "_layouts",
  "theme": "snowbyte",
  "output": "../Website",
  "urlFormat": "post/yyyy/MM/slug",
  "copyDirectories": [
    "images",
    "javascripts",
    "stylesheets"
  ],
  "defaultPostLayout": "post",
  "processFiles": [{
    "file": "index.cshtml",
    "loop": "Posts"
  },{
    "file": "category.cshtml",
    "loop": "Categories"
  },{
    "file": "sitemap.xml",
    "loop": "sitemap"
  },{
    "file": "categories.cshtml => category"
  },{
    "file": "archive.cshtml"
  },{
    "file": "about.cshtml"
  },{
    "file": "drafts.cshtml",
    "loop": "Drafts"
  },{
    "file": "feed.xml",
    "loop": "RSS"
  }]
}